<div th:fragment="header">
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <a href="/" class="btn btn-light me-2" role="button" data-bs-toggle="button">Главная</a>
                    <a href="/admin" class="btn btn-info" role="button" data-bs-toggle="button">Панель администратора</a>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="/#" method="get">
                    <input type="text" name="title" class="form-control form-control-dark text-bg-dark"
                           placeholder="Search..." aria-label="title">
                </form>

                <div class="text-end">
                    <a href="/registration" class="btn btn-outline-light me-2" >Зарегестрироваться</a>
                    <a href="/logout" class="btn btn-danger me-2" >Выйти</a>
                </div>
            </div>
        </div>
    </header>
</div>